.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.right-container {
  justify-self: end;
  display: flex;
  gap: 15px;
}

.bottom-container {
  grid-column: span 2;
}
