.personal {
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 15px;
}

.left-container {
  border: 1px solid black;
  align-self: center;
}

.right-container {
  border: 1px solid black;
  justify-self: end;
}

.about {
  border-top: 10px solid black;
  grid-column: span 2;
  padding-top: 15px;
  padding-bottom: 15px;
}
