.section-header {
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 10px;
}

.add-btn,
.delete-btn,
.edit-btn {
  height: fit-content;
  width: fit-content;
  border: none;
  background: none;
  cursor: pointer;
}

.delete-btn {
  color: red;
}

.edit-btn {
  color: orange;
}

.add-btn {
  color: green;
}
